---
whiskers:
  version: 2.6.0
  matrix:
    - flavor
  filename: "lua/catppuccin/palettes/{{flavor.identifier}}.lua"
---
return {
{%- for id, color in flavor.colors %}
	{{id}} = "#{{color.hex}}",
{%- endfor %}
}
